<?xml version="1.0"?>
<!--
  鏈夊叧濡備綍閰嶇疆 ASP.NET 搴旂敤绋嬪簭鐨勮缁嗕俊鎭紝璇疯闂?
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		
	</configSections>
	<connectionStrings>
  <add name="newmineConnectionString" connectionString="Data Source=localhost;Initial Catalog=login;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="ApplicationServices" connectionString="Data Source=.;Initial Catalog=login;Persist Security Info=True;User ID=sa;Password=1q3e5t7u"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 
	<system.web>
    
		
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		
		
	</system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="get.html" />
      </files>
    </defaultDocument>
  </system.webServer>
	<system.web>
		<authentication mode="Forms"/>
	</system.web>	
  <system.web>
    <pages styleSheetTheme="Aqua"/>
  </system.web>
	<system.web>
		<sessionState mode="InProc" cookieless="false" timeout="1440" stateConnectionString="tcpip=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\test.mdf:42424"  sqlConnectionString="data source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\test.mdf;Trusted_Connection=yes "  />
		<httpRuntime executionTimeout="720" requestValidationMode="2.0" />
	</system.web>
	<!--<appSettings>
		<add key="aspnet:MaxHttpCollectionKeys" value="5000"/>
	</appSettings>-->
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="5000"/>
    <!--<add key="DBConnectionString" value="Data Source=localhost;Initial Catalog=newmine;Integrated Security=True"/>-->
    
  </appSettings>
</configuration>
